<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->

    <!-- sample program node -->
    <node pkg="burger_war" type="send_priority_goal.py" name="send_priority_goal" output="screen">
     <param name="side" value="$(arg side)" />
     <param name="focous_dist" value="0.20"/>
     <param name="current_dir" value= "$(find burger_war)/scripts"/>
    </node>
    <!-- END sample program node -->

    <!-- End of your space  -->
    <!-- Launch navigation -->
    <include file="$(find burger_navigation)/launch/burger_navigation.launch"/>
</launch>